html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html, body, .background, #main {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 350px;
}

* {
  font-family: "Arial";
}

body {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

.background {
  position: absolute;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/utensils.jpg);
  background-size: cover;
  z-index: -100;
}

.background-image {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#main {
  position: relative;
}

#header {
  text-align: center;
}

.header-text {
  margin: 0;
  color: #fff;
}

.header-link,
.header-link:focus,
.header-link:active,
.header-link:hover,
.header-link:visited {
  text-decoration: none;
}

#header-title {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#header-welcome {
  font-size: 2rem;
  font-variant: small-caps;
}

.date-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #dcedc8;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.date-input:hover {
  color: #dcedc8;
}

#count-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(25% - 2.5rem);
  left: calc(50% - 80px);
}

#count {
  color: lightgreen;
  margin: 0;
  padding: 1rem 0;
  font-size: 4rem;
}

#count.exceeded {
  color: tomato;
}

.count-type {
  display: block;
  font-size: 1.35rem;
  color: #fff;
}

.count-mode-icon {
  width: 4rem;
  padding: 1rem;
  margin-right: 1rem;
  transition: transform 0.3s;
}

.count-mode-icon.flipped {
  transform: scaleY(-1);
}

#search-container {
  width: 250px;
  height: 40px;
  position: absolute;
  top: calc(45% - 20px);
  left: calc(50% - 125px);
  border-radius: 3px;
  background-image: url(../img/food.jpg);
  background-size: 0 0;
  z-index: 10;
}

#search-form {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid lightgreen;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
}

.open #search-form {
  background-color: transparent;
  border-bottom: 1px solid #86dddd;
  box-shadow: none;
}

.open #search-form::after {
  border-bottom: 1px solid #86dddd;
}

#search-submit,
#recipes-submit {
  padding: 0;
  margin: 1rem 0.5rem;
  top: 0;
  left: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
}

.search-icon {
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

#search-input,
#recipes-input {
  outline: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

#search-input::-webkit-input-placeholder,
#recipes-input::-webkit-input-placeholder {
  color: #f0f0f0;
}

#search-input:-moz-input-placeholder,
#recipes-input:-moz-input-placeholder {
  color: #f0f0f0;
}

#search-input::-moz-input-placeholder,
#recipes-input::-moz-input-placeholder {
  color: #f0f0f0;
}

#search-input::-ms-input-placeholder,
#recipes-input::-ms-input-placeholder {
  color: #f0f0f0;
}

.close-icon {
  position: absolute;
  padding: 0;
  margin: 1rem 0.5rem;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  opacity: 0;
}

.remove-food {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.open#search-container {
  border-radius: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  background-color: #fff;
  background-size: cover;
  -webkit-transition-property: height, width, top, right, bottom, left;
  transition-property: height, width, top, right, bottom, left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.5,1);
  transition-timing-function: cubic-bezier(0.7,0,0.5,1);
}

.search-inner-container {
  margin: 0 auto;
  max-width: 950px;
}

.open #search-input,
.recipes-open #recipes-input {
  padding-left: 3rem;
  background-color: transparent;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.search-results {
  display: none;
}

.search-results,
.recipe-results {
  height: calc(100vh - 5rem);
}

.open #search-submit,
.recipes-open #recipes-submit {
  pointer-events: auto;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.open .close-icon,
.recipes-open .close-icon {
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  -transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: transform 0.4s;
  transition-delay: transform 0.4s;
}

.results-container {
  display: none;
  height: 100%;
}

.open .results-container,
.recipes-open .results-container {
  display: block;
}

.results-inner-container {
  height: 100%;
}

.results-title {
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-variant: small-caps;
  text-align: center;
}

.result-items {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
}

.result-items {
  max-height: calc(100% - 3rem);
}

.open li,
.recipes-open li,
.main-foods-list li {
  position: relative;
  margin: 1rem 0.5rem;
}

.open li:first-of-type,
.recipes-open li:first-of-type,
.main-foods-list li:first-of-type {
  margin-top: 0;
}

.open li:last-of-type,
.recipes-open li:last-of-type,
.main-foods-list li:last-of-type {
  margin-bottom: 0;
}

.open .result,
.recipes-open .result {
  padding: 1rem;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  opacity: 0.75;
  transition: opacity 0.3s, box-shadow 0.3s;
}

.food-item {
  position: relative;
  max-width: 100%;
  padding: 1rem;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
}

.open .result:hover,
.recipes-open .result:hover {
  cursor: pointer;
  opacity: 1;
}

.open .food-result,
.recipes-open .recipe-result,
.food-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open .food-result.selected {
  opacity: 1;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.5);
}

.food-info {
  width: calc(100% - 10rem);
}

.food-name {
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.5rem;
}

.food-brand {
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.35rem;
  font-weight: normal;
}

.food-calories {
  text-align: center;
  width: 10rem;
  border-left: 1px solid #777;
}

.calorie-title {
  margin: 0;
  font-size: 1.35rem;
}

.calories-number {
  margin: 0.5rem 0 0;
  font-size: 2.35rem;
}

.nutrition-facts-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: #fff;
}

.nutrition-visible.nutrition-facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  z-index: 20;
  overflow-y: auto;
}

.nutrition-facts-container::-webkit-scrollbar {
  width: 1rem;
}

.nutrition-facts-container:-webkit-scrollbar-track {
  box-shadow: 0;
}

.nutrition-facts-container:-webkit-scrollbar-thumb {
  background-color: #333;
}

.nutrition-facts {
  width: 100%;
  max-width: 350px;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

.nutrition-header {
  padding-bottom: 0.25rem;
  border-bottom: 5px solid #111;
}

.close-nutrition {
  display: inline;
  width: 1.5rem;
  padding: 0.25rem;
}

.nutrition-title {
  display: inline-block;
  font-size: 1.65rem;
  margin: 0.25rem 0 0;
  width: calc(100% - 2rem);
}

.item-name {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.25rem 0;
}

.item-amount {
  border-radius: 2px;
  border: 1px inset #666;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  width: 4rem;
}

.eye {
  float: left;
  width: 2rem;
  height: auto;
  margin-right: 1.5rem;
}

.add-button {
  position: relative;
  float: right;
  font-size: 1.25rem;
  font-variant: small-caps;
  text-align: center;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}

.add-button::after {
  position: absolute;
  opacity: 0;
  content: "";
  display: inline;
  vertical-align: middle;
  left: -2rem;
  width: 0;
  height: 1.5rem;
  background-image: url(../img/checkmark.svg);
  background-size: cover;
  transition: opacity 0.2s, width 0.2s;
}

.added.add-button::after {
  opacity: 1;
  width: 1.5rem;
}

.food-quantity {
  float: right;
  font-size: 1.35rem;
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.slow-add {
  color: #fff;
  background-color: #369c9c;
}

.slow-add:hover {
  outline: 1px solid #369c9c;
  background-color: #fff;
  color: #369c9c;
}

.quick-add {
  font-size: 1.35rem;
  color: #369c9c;
  border: 1px solid #369c9c;
  width: 12rem;
  margin: 0 1rem;
}

.quick-add:hover {
  background-color: #369c9c;
  color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
}

.nutrition-table {
  width: 100%;
}

.nutrition-header span {
  font-size: 1.6rem;
}

.nutrition-body-title {
  font-size: 1.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid black;
}

tr {
  border-bottom: 1px solid black;
}

td {
  font-size: 1.35rem;
}

.nutrition-calories-row {
  border-bottom: 3px solid black;
}

.nutrition-calories {
  font-size: 1.25rem;
}

.nutrition-right-align {
  text-align: right;
}

.nutrition-main {
  font-weight: bold;
}

.nutrition-sub {
  margin-left: 1.5rem;
}

.protein-row {
  border-bottom: 5px solid black;
}

.nutrition-footer {
  padding: 0.5rem 0;
  color: #444;
  font-size: 1.35rem;
}

#main-foods-container {
  width: 250px;
  position: absolute;
  top: calc(45% + 6rem);
  left: calc(50% - 125px);
  padding: 0.5rem;
  border-radius: 1px;
  border: 1px solid #dcedc8;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
}

.foods-populated#main-foods-container {
  height: 5rem;
}

.foods-populated.foods-expanded#main-foods-container {
  height: calc(55% - 6rem);
}

.main-foods-list {
  display: none;
}

.foods-populated.foods-expanded .main-foods-list {
  display: block;
  margin: 0;
  max-height: calc(100% - 5rem);
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
}

.main-foods-title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
  font-variant: small-caps;
  color: #f0f0f0;
}

.foods-populated .main-foods-title {
  display: none;
}

.foods-expanded {
  text-align: left;
}

.clear-foods {
  cursor: pointer;
  margin: 0.25rem 1rem;
  display: none;
  padding: 0.25rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: tomato;
}

.clear-foods:hover {
  color: #f0f0f0;
}

.foods-populated.foods-expanded .clear-foods {
  display: inline-block;
}

.foods-expand-toggle {
  width: 100%;
  height: auto;
  display: none;
}

.foods-expand-text,
.toggle-text,
.manual-submit-text {
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
  color: #fff;
  transition: letter-spacing 0.2s;
}

.foods-expand-text {
  color: #dcedc8;
}

.foods-expand-text:hover {
  color: lightgreen;
  letter-spacing: 0.05rem;
}

.foods-expand-icon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  right: -0.25rem;
  transition: transform 0.3s;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

.foods-expand-text, .foods-expand-icon,
.toggle-text, .option-icon {
  align-self: center;
}

.foods-expanded .foods-expand-text {
  display: none;
}

.option-toggle,
.foods-populated .foods-expand-toggle {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.foods-populated.foods-expanded .foods-expand-icon {
  transform: scaleY(-1);
  top: 0;
}

.options-wrapper {
  position: absolute;
  top: calc(45% - 110px);
  left: calc(50% + 95px);
  width: 3rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.open .manual-add-wrapper {
  display: none;
}

.option-toggle {
  background-color: rgba(50,50,50,0.4);
  border-radius: 2px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
  transition: background-color 0.2s;
}

.option-toggle:hover {
  background-color: rgba(0,0,0,0.4);
}

.toggle-text {
  display: none;
  transition: color 0.2s;
}

.toggle-text {
  color: #dcedc8;
}

.option-toggle:hover .toggle-text {
  color: lightgreen;
}

.option-icon {
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
}

.charts-icon,
.recipe-icon {
  padding: 0.75rem;
}

.manual-open .manual-toggle,
.recipes-open .recipes-toggle {
  display: none;
}

.manual-add-inner-wrapper {
  display: none;
}

.manual-open.manual-add-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 25;
  background-color: rgba(0,0,0,0.8);
}

.manual-open .manual-add-inner-wrapper {
  display: block;
  align-self: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 3px;
  border-bottom: 1px solid #dcedc8;
  background-color: #000;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
  z-index: 25;
  max-width: 100%;
  width: 550px;
}

.manual-add-form {
  position: relative;
  margin: 0 auto;
  width: 400px;
  max-width: calc(100% - 1.5rem);
  display: flex;
  flex-flow: row wrap;
}

.manual-add-title {
  font-size: 2rem;
  margin: 1rem 0;
  font-variant: small-caps;
  color: #fff;
}

.manual-input {
  margin: 2rem 0 0;
  padding-left: 0.5rem;
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 2px;
  border: 0;
}

.manual-amount, .manual-calories {
  width: calc((100% - 1rem) / 2);
}

.manual-calories {
  margin-left: 0.5rem;
}

.manual-input:focus {
  outline: 1px solid #dcedc8;
}

.manual-input::-webkit-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus::-webkit-input-placeholder {
  color: lightgreen;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-input::-moz-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus::-moz-input-placeholder {
  color: #dcedc8;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-input:-moz-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus:-moz-input-placeholder {
  color: #dcedc8;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-input::-ms-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus::-ms-input-placeholder {
  color: #dcedc8;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-open .close-manual,
.close-charts {
  position: relative;
  float: right;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  width: 2.5rem;
  height: auto;
  padding: 0.5rem;
}

.manual-submit {
  background-color: transparent;
  margin: 1rem 0.5rem;
  border: 0;
  outline: 0;
  padding: 0;
  float: right;
  cursor: pointer;
}

.manual-submit-text:hover {
  color: #dcedc8;
}

.charts-inner-wrapper {
  z-index: 15;
  max-width: 100%;
  width: 600px;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  background-color: rgba(0,0,0,0.85);
  box-shadow: -1px 2px 6px rgba(0,0,0,0.5);
  overflow-y: auto;
}

.charts-open .charts-inner-wrapper {
  display: block;
  transform: translateX(0);
}

svg {
  display: block;
  margin: 0 auto;
}

.calorie-radial-container {
  width: 85%;
  margin: 0 auto;
}

.calorie-radial-label {
  font-size: 2.5rem;
}

.calorie-radial-title {
  font-size: 2rem;
  font-variant: small-caps;
}

.calorie-graph-container {
  max-width: 85%;
  max-height: 45%;
  height: 400px;
  width: 500px;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.graph-x-axis path {
  display: none;
}

.line {
  fill: none;
  stroke: lightgreen;
  stroke-width: 1.5px;
}

.period-buttons-container {
  margin: 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
}

.period-toggle {
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.5rem;
  font-variant: small-caps;
  color: #aaa;
}

.period-toggle:hover {
  color: lightgreen;
}

.period-toggle.period-selected {
  color: lightgreen;
  border-bottom: 1px solid #dcedc8;
}

.recipes-inner-wrapper {
  z-index: -10;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/more-food.jpg);
  background-size: cover;
  transition: opacity 0.2s;
}

.recipes-open .recipes-inner-wrapper {
  opacity: 1;
  z-index: 25;
  width: 100%;
}

#recipes-form {
  position: relative;
  margin: 0 auto;
  max-width: 950px;
  border-bottom: 1px solid lightgreen;
}

.recipe-link {
  text-decoration: none;
}

.recipe-link,
.recipe-link:hover,
.recipe-link:active,
.recipe-link:visited {
  color: #222;
}

.recipe-title {
  margin: 0.25rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.recipe-subtitle {
  font-weight: lighter;
  margin: 0;
  font-size: 1.5rem;
}

.recipe-snippet {
  font-size: 1.35rem;
  font-weight: bold;
  letter-spacing: 0.1rem
}

.recipe-results {
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
  text-align: center;
}

.recipe-more {
  font-size: 1.15rem;
  text-align: right;
}

@media screen and (max-height: 450px) {
  #header-welcome {
    display: none;
  }
}

@media screen and (max-height: 500px) {

  .option-icon {
    margin-left: 0;
  }
}

@media screen and (min-width: 650px) {

  #count-container {
    left: calc(50% - 100px);
  }

  .options-wrapper {
    flex-direction: row;
    top: calc(45% - 50px);
  }

  .toggle-text {
    padding-left: 1rem;
    display: inline-block;
  }

  .option-icon {
    margin-left: 0.5rem;
  }

  #search-input,
  #recipes-input {
    font-size: 3rem;
  }

  .open #search-input,
  .recipes-open #recipes-input {
    font-size: 6rem;
    padding-left: 7rem;
  }

  #search-submit,
  #recipes-submit {
    margin: 2rem 1rem;
    width: 50px;
    height: auto;
  }

  .search-icon {
    opacity: 0.5;
  }

  .search-icon:hover {
    opacity: 1;
  }

  .open .close-icon,
  .recipes-open .close-icon {
    opacity: 0.5;
    margin-top: 1.5rem;
    width: 40px;
    height: auto;
    margin-top: 2.5rem;
  }

  .open .close-icon:hover,
  .recipes-open .close-icon:hover {
    opacity: 1;
    cursor: pointer;
  }

  .result-items::-webkit-scrollbar,
  .main-foods-list::-webkit-scrollbar,
  .charts-inner-wrapper::-webkit-scrollbar {
    width: 1rem;
  }

  .result-items::-webkit-scrollbar-track,
  .main-foods-list::-webkit-scrollbar-track,
  .charts-inner-wrapper::-webkit-scrollbar-track {
    box-shadow: 0;
  }

  .result-items::-webkit-scrollbar-thumb,
  .main-foods-list::-webkit-scrollbar-thumb,
  .charts-inner-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 1px outset #666;
  }

  .search-results,
  .recipe-results {
    height: calc(100vh - 9.5rem);
  }

  .results-inner-container {
    height: calc(50% - 3rem);
    width: 500px;
    margin: 0 auto;
  }

  .open .result:hover,
  .food-item:hover {
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  }

  .nutrition-visible.nutrition-facts-container {
    background-color: transparent;
    position: relative;
    left: auto;
    top: auto;
  }

  .nutrition-facts {
    margin: 1rem auto 0;
  }

  .add-button,
  .close-nutrition {
    cursor: pointer;
  }

  .add-button {
    font-size: 1.75rem;
  }

  .item .food-name {
    font-size: 1.75rem;
  }

  .item .food-brand {
    font-size: 1.5rem;
  }

}

@media screen and (min-width: 650px) and (max-width: 950px) {

  #search-container {
    width: 400px;
    height: 50px;
    left: calc(50% - 200px);
  }

  .options-wrapper {
    width: 400px;
    left: calc(50% - 200px);
    top: calc(45% - 65px);
    justify-content: space-between;
  }

  #main-foods-container {
    min-width: 400px;
    left: calc(50% - 200px);
  }

  .open #search-input,
  .recipes-open #search-input {
    padding-right: 7rem;
  }

  .results-inner-container {
    width: 500px;
  }

  .nutrition-visible.nutrition-facts-container {
    display: block;
  }

}

@media screen and (min-width: 950px) {

  #header-title {
    font-size: 4rem;
    letter-spacing: 0.75rem;
  }

  #header-welcome {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .date-input {
    font-size: 2rem;
    padding: 1rem 0 0.25rem;
  }

  #count {
    font-size: 6rem;
  }

  .count-type {
    font-size: 2rem;
  }

  #search-container {
    width: 550px;
    height: 60px;
    left: calc(50% - 275px);
    top: calc(50% - 30px);
  }

  .options-wrapper {
    width: 550px;
    top: calc(50% - 68px);
    left: calc(50% - 275px);
  }

  #search-form::after,
  #recipes-form::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    border-bottom: 2px solid lightgreen;
    right: 100%;
    transition: right 0.2s ease-out, width 0.2s ease-out;
  }

  #search-form:hover::after,
  #recipes-form:hover::after {
    width: 100%;
    right: 0;
  }

  #main-foods-container {
    width: 550px;
    left: calc(50% - 275px);
    top: calc(50% + 6rem);
    max-height: calc(50% - 7rem);
  }

  .open #search-input,
  .recipes-open #recipes-input {
    padding-right: 3rem;
  }

  .open .close-icon,
  .recipes-open .close-icon {
    margin-right: 2rem;
  }

  .open .results-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .results-inner-container {
    height: 80%;
    width: calc(50% - 1rem);
  }

  .results-title {
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: left;
  }

  .nutrition-visible.nutrition-facts-container {
    display: flex;
  }

  .item .food-name {
    font-size: 2rem;
  }

  .item .food-brand {
    font-size: 1.75rem;
  }

}