/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background-color: rgba(0,0,0,0.9);
  border: 1px solid lightgreen;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
}
.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 1.5rem;
  height: 2.5rem;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0;
  transition: opacity 0.2s;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  background-image: url(../img/left-triangle.svg);
  float: left;
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  background-image: url(../img/right-triangle.svg);
  float: right;
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background-color: #f5f5f5;
  transition: background-color 0.2s;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background-color: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}

.is-inrange .pika-button {
  background-color: #D5E9F7;
}

.is-startrange .pika-button {
  color: #fff;
  background-color: #6CB31D;
  box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background-color: #33aaff;
  box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.pika-button:hover {
  color: #fff;
  background-color: #ffa357;
  box-shadow: none;
  border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}

/* SVG styles */

.flavors-chart .level {
  stroke: grey;
  stroke-width: 0.5;
}

.flavors-chart .axis line {
  stroke: grey;
  stroke-width: 1;
}

.flavors-chart .axis .legend {
  font-size: 1rem;
}

.flavors-chart .axis .legend.top {
  dy: 1em;
}

.flavors-chart .axis .legend.left {
  text-anchor: start;
}

.flavors-chart .axis .legend.middle {
  text-anchor: middle;
}

.flavors-chart .axis .legend.right {
  text-anchor: end;
}

.flavors-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}

.flavors-chart .tooltip.visible {
  opacity: 1;
}

.flavors-chart .area {
  stroke-width: 2;
  fill-opacity: 0.5
}

.flavors-chart.focus .area {
  fill-opacity: 0.1;
}

.flavors-chart.focus .area.focused {
  fill-opacity: 0.7;
}

.flavors-chart .circle {
  fill-opacity: 0.9;
}

.flavors-chart .area,
.flavors-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}

.flavors-chart .d3-enter,
.flavors-chart .d3-exit {
  opacity: 0;
}


/* CUSTOM STYLES */

/* Normalizatifying styles */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* full body app */
html, body, .background, #main {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 350px;
}

/* standard font */
* {
  font-family: "Arial";
}

/* make icons white */
i[class*="fa fa-"] {
  color: #fff;
}

/* to prevent unpleasant scrollbars */
body {
  overflow-y: hidden;
}

/* helper class in case */
.hidden {
  display: none;
}

/* inherit box-sizing */
*, *:before, *:after {
  box-sizing: inherit;
}

#main {
  position: relative;
  background-color: #101010;
}

.fa-spinner.spinner {
  display: none;
}

.loading-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.loading .spinner {
  display: inline-block;
}

.loading .loading-overlay {
  display: block;
}

.fa-spinner {
  opacity: 0.75;
  font-size: 4rem;
  position: absolute;
  z-index: 100;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fa-spinner {
  -webkit-animation: spinning linear 1s infinite;
          animation: spinning linear 1s infinite;
}

/* Header styles */

#header {
  text-align: center;
}

.header-text {
  margin: 0;
  color: #fff;
}

.header-link,
.header-link:focus,
.header-link:active,
.header-link:hover,
.header-link:visited {
  text-decoration: none;
}

#header-title {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#header-welcome {
  font-size: 2rem;
  font-variant: small-caps;
}

.date-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #dcedc8;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.date-input:hover {
  color: #dcedc8;
}

#count-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(25% - 2.5rem);
  left: calc(50% - 80px);
}

#count {
  color: lightgreen;
  margin: 0;
  padding: 1rem 0;
  font-size: 4rem;
}

#count.exceeded {
  color: tomato;
}

.count-type {
  display: block;
  font-size: 1.35rem;
  color: #fff;
}

.count-mode-icon {
  font-size: 2.25rem;
  padding: 1rem;
  margin-right: 0.25rem;
  transition: transform 0.2s;
}

.count-mode-icon.flipped {
  transform: scaleY(-1);
}

/* Main Search Container Styles */

#search-container {
  width: 250px;
  height: 40px;
  position: absolute;
  top: calc(45% - 20px);
  left: calc(50% - 125px);
  border-radius: 3px;
  z-index: 10;
}

#search-form {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(100, 100, 100, 0.1);
  border-bottom: 1px solid lightgreen;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
}

.open #search-form {
  background-color: transparent;
  border-bottom: 1px solid lightgreen;
  box-shadow: none;
}

.open #search-form::after {
  border-bottom: 1px solid lightgreen;
}

#search-submit,
#recipes-submit {
  padding: 0;
  margin: 1rem 0.5rem;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
}

.search-icon {
  position: relative;
  font-size: 2rem;
  transition: opacity 0.3s;
}

#search-input,
#recipes-input {
  outline: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

#search-input::-webkit-input-placeholder,
#recipes-input::-webkit-input-placeholder {
  color: #f0f0f0;
}

#search-input:-moz-input-placeholder,
#recipes-input:-moz-input-placeholder {
  color: #f0f0f0;
}

#search-input::-moz-input-placeholder,
#recipes-input::-moz-input-placeholder {
  color: #f0f0f0;
}

#search-input::-ms-input-placeholder,
#recipes-input::-ms-input-placeholder {
  color: #f0f0f0;
}

.close-icon {
  position: absolute;
  padding: 0;
  margin: 1rem 0.5rem;
  right: 0;
  top: 0;
  font-size: 2rem;
  pointer-events: none;
  opacity: 0;
}

.open#search-container {
  border-radius: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  background-color: #2a2a2a;
  -webkit-transition-property: height, width, top, right, bottom, left;
  transition-property: height, width, top, right, bottom, left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.5,1);
  transition-timing-function: cubic-bezier(0.7,0,0.5,1);
}

.search-inner-container {
  margin: 0 auto;
  max-width: 950px;
}

.open #search-input,
.recipes-open #recipes-input {
  padding-left: 3rem;
  background-color: transparent;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.search-results {
  display: none;
}

.search-results,
.recipe-results {
  height: calc(100vh - 5rem);
}

.open #search-submit,
.recipes-open #recipes-submit {
  pointer-events: auto;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.open .close-icon,
.recipes-open .close-icon {
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  -transform: translate3d(0,0,0) scale3d(1,1,1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: transform 0.4s;
  transition-delay: transform 0.4s;
}

.results-container {
  display: none;
  height: 100%;
}

.open .results-container,
.recipes-open .results-container {
  display: block;
}

.results-inner-container {
  height: 100%;
}

.results-title {
  margin: 0.5rem 0;
  padding-left: 2rem;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-variant: small-caps;
  text-align: center;
}

.result-items {
  position: relative;
  margin: 0;
  width: 100%;
  max-height: calc(100% - 3.5rem);
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
}

.recipes-open li {
  padding: 1rem 1rem 1rem 2rem;
}

.open li,
.recipes-open li,
.main-foods-list li {
  position: relative;
  margin: 0.5rem 0.25rem;
}

.open li:first-of-type,
.recipes-open li:first-of-type,
.main-foods-list li:first-of-type {
  margin-top: 0;
}

.open li:last-of-type,
.recipes-open li:last-of-type,
.main-foods-list li:last-of-type {
  margin-bottom: 0;
}

.recipe-ingredients li {
  padding: 0.25rem;
  margin: 0.25rem 0;
}

.open .result,
.recipes-open .result {
  padding: 1rem;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  opacity: 0.75;
  transition: opacity 0.3s, box-shadow 0.3s;
}

.open .result:hover,
.recipes-open .result:hover {
  cursor: pointer;
  opacity: 1;
}

.open .food-result,
.recipes-open .recipe-result,
.food-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes-open .recipe-result {
  justify-content: flex-start;
}

.open .food-result.selected,
.recipes-open .recipe-result.selected {
  opacity: 1;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.5);
}

.food-info {
  width: calc(100% - 10rem);
}

.food-name {
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.5rem;
}

.food-brand {
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.35rem;
  font-weight: normal;
}

.food-calories {
  text-align: center;
  width: 10rem;
  border-left: 1px solid #777;
}

.calorie-title {
  margin: 0;
  font-size: 1.35rem;
}

.calories-number {
  margin: 0.5rem 0 0;
  font-size: 2.35rem;
}

.nutrition-facts-container,
.recipe-details-container {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.nutrition-visible.nutrition-facts-container,
.recipe-visible.recipe-details-container {
  display: block;
  background-color: rgba(0,0,0,0.75);
  z-index: 20;
  overflow-y: auto;
}

.recipe-details-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  min-height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.nutrition-facts {
  width: 100%;
  max-width: 350px;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
}

.nutrition-header {
  padding-bottom: 0.25rem;
  border-bottom: 5px solid #111;
}

i.close-nutrition,
i.close-details {
  font-size: 1.5rem;
  padding: 0.25rem;
  margin: 0 0.5rem;
  position: absolute;
}

i.close-nutrition {
  color: #000;
}

.nutrition-title {
  display: inline-block;
  font-size: 1.65rem;
  margin: 0.25rem 0 0;
  width: calc(100% - 2rem);
}

.item-name {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.25rem 0;
}

.item-amount {
  border-radius: 2px;
  border: 1px inset #666;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  width: 4rem;
}

.info {
  float: left;
  width: 2rem;
  height: auto;
  margin-right: 1.5rem;
}

.add-button {
  position: relative;
  float: right;
  font-size: 1.25rem;
  font-variant: small-caps;
  text-align: center;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  transition: background-color 0.2s, color 0.2s;
}

.add-button::after {
  position: absolute;
  opacity: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1.5rem/1 "FontAwesome";
  content: "\f00c";
  display: inline;
  vertical-align: middle;
  left: -2rem;
  width: 0;
  height: 1.5rem;
  color: #000;
  transition: opacity 0.1s, width 0.1s;
}

.added.add-button::after {
  opacity: 1;
  width: auto;
}

.food-quantity {
  float: right;
  font-size: 1.35rem;
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.slow-add {
  color: #fff;
  background-color: #369c9c;
}

.slow-add:hover {
  outline: 1px solid #369c9c;
  background-color: #fff;
  color: #369c9c;
}

.quick-add {
  font-size: 1.35rem;
  color: #369c9c;
  border: 1px solid #369c9c;
  width: 12rem;
  margin: 0 1rem;
}

.quick-add:hover {
  background-color: #369c9c;
  color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
}

.nutrition-table {
  width: 100%;
}

.nutrition-header span {
  font-size: 1.6rem;
}

.nutrition-body-title {
  font-size: 1.5rem;
  margin: 0.25rem 0;
  border-bottom: 1px solid black;
}

tr {
  border-bottom: 1px solid black;
}

td {
  font-size: 1.35rem;
}

.nutrition-calories-row {
  border-bottom: 3px solid black;
}

.nutrition-calories {
  font-size: 1.25rem;
}

.nutrition-right-align {
  text-align: right;
}

.nutrition-main {
  font-weight: bold;
}

.nutrition-sub {
  margin-left: 1.5rem;
}

.protein-row {
  border-bottom: 5px solid black;
}

.nutrition-footer {
  padding: 0.5rem 0;
  color: #444;
  font-size: 1.35rem;
}

/* Added foods */

#main-foods-container {
  width: 250px;
  position: absolute;
  top: calc(42% + 5rem);
  left: calc(50% - 125px);
  padding: 0.5rem;
  border-radius: 1px;
  border: 1px solid #dcedc8;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
}

.foods-populated#main-foods-container {
  height: 5rem;
}

.foods-populated.foods-expanded#main-foods-container {
  height: calc(55% - 6rem);
}

.main-foods-list {
  display: none;
}

.foods-populated.foods-expanded .main-foods-list {
  display: block;
  margin: 0;
  max-height: calc(100% - 5rem);
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
}

.main-foods-title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
  font-variant: small-caps;
  color: #f0f0f0;
}

.foods-populated .main-foods-title {
  display: none;
}

.foods-expanded {
  text-align: left;
}

.clear-foods {
  cursor: pointer;
  margin: 0.25rem 1rem;
  display: none;
  padding: 0.25rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: tomato;
}

.clear-foods:hover {
  color: #f0f0f0;
}

.foods-populated.foods-expanded .clear-foods {
  display: inline-block;
}

.foods-expand-toggle {
  width: 100%;
  height: auto;
  display: none;
}

.foods-expand-text,
.toggle-text,
.manual-submit-text {
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
  color: #fff;
  transition: letter-spacing 0.2s;
}

.foods-expand-text {
  color: #dcedc8;
}

.foods-expand-text:hover {
  color: lightgreen;
  letter-spacing: 0.05rem;
}

.foods-expand-icon {
  position: relative;
  font-size: 1.35rem;
  padding: 0.5rem;
  right: -0.25rem;
  transition: transform 0.3s;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}

.foods-expand-text, .foods-expand-icon,
.toggle-text, .option-icon {
  align-self: center;
}

.foods-expanded .foods-expand-text {
  display: none;
}

.option-toggle,
.foods-populated .foods-expand-toggle {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.foods-populated.foods-expanded .foods-expand-icon {
  transform: scaleY(-1);
  top: 0;
}

.food-item {
  position: relative;
  max-width: 100%;
  padding: 1rem;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
}

i.remove-food {
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

/* Extra options */

.options-wrapper {
  position: absolute;
  top: calc(45% - 110px);
  left: calc(50% + 95px);
  width: 3rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.open .manual-add-wrapper {
  display: none;
}

.option-toggle {
  background-color: rgba(50,50,50,0.4);
  border-radius: 2px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
  transition: background-color 0.2s;
}

.option-toggle:hover {
  background-color: rgba(0,0,0,0.4);
}

.toggle-text {
  display: none;
  transition: color 0.2s;
}

.toggle-text {
  color: #dcedc8;
}

.option-toggle:hover .toggle-text {
  color: lightgreen;
}

.option-icon {
  font-size: 1.75rem;
  padding: 0.75rem;
}

/* Manual add section */

.manual-open .manual-toggle,
.recipes-open .recipes-toggle {
  display: none;
}

.manual-add-inner-wrapper {
  display: none;
}

.manual-add-error {
  opacity: 0;
  color: tomato;
  font-size: 1.5rem;
  font-variant: small-caps;
  transition: opacity 0.3s;
  margin: 1rem 0;
}

.error.manual-add-error {
  opacity: 1;
}

.manual-open.manual-add-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 25;
  background-color: rgba(195,195,195,0.9);
}

.manual-open .manual-add-inner-wrapper {
  position: relative;
  display: block;
  align-self: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 2px;
  background-color: #000;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
  z-index: 25;
  max-width: 100%;
  width: 550px;
}

.manual-add-form {
  position: relative;
  margin: 0 auto;
  width: 400px;
  max-width: calc(100% - 1.5rem);
  display: flex;
  flex-flow: row wrap;
}

.manual-add-title {
  font-size: 2rem;
  margin: 1rem 0;
  font-variant: small-caps;
  color: #fff;
}

.manual-input {
  margin: 2rem 0 0;
  padding-left: 0.5rem;
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 2px;
  border: 0;
}

.manual-amount, .manual-calories {
  width: calc((100% - 1rem) / 2);
}

.manual-calories {
  margin-left: 0.5rem;
}

.manual-input:focus {
  outline: 1px solid #dcedc8;
}

.manual-input::-webkit-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus::-webkit-input-placeholder {
  color: lightgreen;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-input::-moz-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus::-moz-input-placeholder {
  color: #dcedc8;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-input:-moz-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus:-moz-input-placeholder {
  color: #dcedc8;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-input::-ms-input-placeholder {
  color: #666;
  pointer-events: none;
  font-variant: small-caps;
  position: relative;
  left: 1rem;
  top: 0;
  transition: left 0.2s, top 0.2s, color 0.2s;
}

.manual-input:focus::-ms-input-placeholder {
  color: #dcedc8;
  position: relative;
  left: 0;
  top: -2.25rem;
}

.manual-open .close-manual,
.close-charts {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  font-size: 2rem;
  padding: 0.5rem;
}

.manual-submit {
  background-color: transparent;
  margin: 1rem 0.5rem;
  border: 0;
  outline: 0;
  padding: 0;
  float: right;
  cursor: pointer;
}

.manual-submit-text:hover {
  color: #dcedc8;
}

/* Charts */

.charts-inner-wrapper {
  z-index: 15;
  max-width: 100%;
  width: 600px;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  background-color: rgba(0,0,0,0.85);
  box-shadow: -1px 2px 6px rgba(0,0,0,0.5);
  overflow-y: auto;
}

.charts-open .charts-inner-wrapper {
  display: block;
  transform: translateX(0);
}

svg {
  display: block;
  margin: 0 auto;
}

.calorie-radial-container {
  width: 85%;
  margin: 0 auto;
}

.calorie-radial-label {
  font-size: 2.5rem;
}

.calorie-radial-title {
  font-size: 2rem;
  font-variant: small-caps;
}

.calorie-graph-container {
  max-width: 85%;
  max-height: 45%;
  height: 400px;
  width: 500px;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.graph-x-axis path {
  display: none;
}

.line {
  fill: none;
  stroke: lightgreen;
  stroke-width: 1.5px;
}

.period-buttons-container {
  margin: 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
}

.period-toggle {
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.5rem;
  font-variant: small-caps;
  color: #aaa;
}

.period-toggle:hover {
  color: lightgreen;
}

.period-toggle.period-selected {
  color: lightgreen;
  border-bottom: 1px solid #dcedc8;
}

/* Recipes */

.recipes-inner-wrapper {
  z-index: -10;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a;
}

.recipes-open .recipes-inner-wrapper {
  opacity: 1;
  z-index: 25;
  width: 100%;
  transition: opacity 0.2s;
}

#recipes-form {
  position: relative;
  margin: 0 auto;
  max-width: 950px;
  border-bottom: 1px solid #86dddd;
}

.recipe-info-container {
  padding-left: 1rem;
  width: calc(100% - 100px);
}

.recipe-title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.recipe-source {
  font-weight: lighter;
  margin: 0.25rem 0 1rem;
  font-size: 1.5rem;
}

.recipe-ingredients {
  font-size: 1.35rem;
  font-style: italic;
  padding-left: 1.5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  list-style-position: inside;
}

.recipe-more {
  display: block;
  font-size: 1.25rem;
  text-align: right;
  font-weight: bold;
}

.yummly-attribution {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  position: absolute;
  padding: 1rem 0 1rem 0.5rem;
  right: 0;
  bottom: 0;
}

/* Recipe details */

.recipe-details {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 2px;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
}

.recipe-header {
  background-color: rgba(0,0,0,0.8);
}

.recipe-header-text {
  margin: 0 auto;
  padding: 0 1rem;
  width: 50%;
  align-self: center;
  text-align: center;
}

.recipe-header-text .recipe-title {
  color: #fff;
}

.recipe-link,
.recipe-link:hover,
.recipe-link:active,
.recipe-link:visited {
  font-style: italic;
  color: #e16100;
}

.recipe-header-pic {
  margin: 0 auto;
  width: 100%;
  align-self: center;
}

.recipe-pic {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.recipe-stats {
  display: flex;
  justify-content: center;
}

.recipe-time,
.recipe-yield {
  margin: 1rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  text-align: center;
  width: 100%;
}

.details-ingredients {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.details-ingredients li:nth-child(odd) {
  background-color: #f7f7f7;
}

.details-ingredients li:nth-child(even) {
  background-color: #eee;
}

.details-ingredients li {
  margin: 0;
}

.details-ingredient {
  font-size: 1.45rem;
}

.flavors-chart-container {
  width: 100%;
}

.flavors-chart {
  margin: 0 auto;
}

.flavors-chart .area {
  fill: lightgreen;
  fill-opacity: 0.7;
}

.flavors-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.flavors-chart .circle {
  fill: lightgreen;
}

.flavors-chart .level {
  fill: #999;
}

.flavors-chart .legend {
  font-size: 1.25rem;
  font-variant: small-caps;
}

.close-details {
  float: left;
}

.details-attribution {
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: right;
}

@media screen and (max-height: 450px) {
  #header-welcome {
    display: none;
  }
}

@media screen and (max-height: 500px) {

  .option-icon {
    margin-left: 0;
  }
}

@media screen and (min-height: 1000px) {
  .foods-populated#main-foods-container {
    top: calc(45% + 6rem);
  }
}

@media screen and (min-width: 650px) {

  #count-container {
    left: calc(50% - 100px);
  }

  #search-input,
  #recipes-input {
    font-size: 3rem;
  }

  .open #search-input,
  .recipes-open #recipes-input {
    font-size: 6rem;
    padding-left: 7rem;
  }

  .search-icon {
    font-size: 5rem;
    cursor: pointer;
  }

  #search-submit,
  #recipes-submit {
    margin: 2rem 1rem;
    width: 50px;
    height: auto;
  }

  .search-icon {
    opacity: 0.5;
  }

  .search-icon:hover {
    opacity: 1;
  }

  .open .close-icon,
  .recipes-open .close-icon {
    opacity: 0.5;
    margin-top: 1.5rem;
    font-size: 5rem;
    width: 40px;
    height: auto;
    margin-top: 2.5rem;
  }

  .open .close-icon:hover,
  .recipes-open .close-icon:hover {
    opacity: 1;
    cursor: pointer;
  }

  .result-items::-webkit-scrollbar,
  .nutrition-facts-container::-webkit-scrollbar,
  .main-foods-list::-webkit-scrollbar,
  .charts-inner-wrapper::-webkit-scrollbar,
  .recipe-details-container::-webkit-scrollbar {
    width: 1rem;
  }

  .result-items::-webkit-scrollbar-track,
  .nutrition-facts-container::-webkit-scrollbar-track,
  .main-foods-list::-webkit-scrollbar-track,
  .charts-inner-wrapper::-webkit-scrollbar-track,
  .recipe-details-container::-webkit-scrollbar-track {
    box-shadow: none;
  }

  .result-items::-webkit-scrollbar-thumb,
  .nutrition-facts-container::-webkit-scrollbar-thumb,
  .main-foods-list::-webkit-scrollbar-thumb,
  .charts-inner-wrapper::-webkit-scrollbar-thumb,
  .recipe-details-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 1px outset #666;
  }

  .search-results,
  .recipe-results {
    height: calc(100vh - 9.5rem);
  }

  .results-inner-container {
    height: calc(50% - 3rem);
    width: 500px;
    margin: 0 auto;
  }

  .open .result:hover,
  .food-item:hover {
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
  }

  .nutrition-visible.nutrition-facts-container,
  .recipe-visible.recipe-details-container {
    background-color: transparent;
    position: relative;
    left: auto;
    top: auto;
  }

  .nutrition-facts {
    margin: 1rem auto 0;
  }

  .add-button,
  .close-nutrition,
  .close-details {
    cursor: pointer;
  }

  .add-button {
    font-size: 1.75rem;
  }

  .item .food-name {
    font-size: 1.75rem;
  }

  .item .food-brand {
    font-size: 1.5rem;
  }

  .recipe-ingredients {
    flex-flow: row wrap;
  }

  .recipe-ingredient {
    width: 30%;
  }

  .recipe-time,
  .recipe-yield {
    width: 50%;
  }

  .details-ingredients,
  .flavors-chart-container {
    width: 50%;
  }

  .recipe-header {
    display: flex;
  }

  .recipe-header-pic {
    width: 100%;
  }

  .recipe-body {
    display: flex;
    justify-content: center;
  }

}

@media screen and (min-width: 750px) {
  .options-wrapper {
    flex-direction: row;
    top: calc(45% - 50px);
  }

  .toggle-text {
    padding-left: 1rem;
    display: inline-block;
  }

  .option-icon {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 650px) and (max-height: 500px) {
  .open .results-container,
  .recipes-open .results-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .results-inner-container {
    height: 80%;
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 650px) and (max-width: 950px) {

  #search-container {
    width: 400px;
    height: 50px;
    left: calc(50% - 200px);
  }

  #main-foods-container {
    min-width: 400px;
    left: calc(50% - 200px);
  }

  .open #search-input,
  .recipes-open #search-input {
    padding-right: 7rem;
  }

  .results-inner-container {
    width: 500px;
  }

  .nutrition-visible.nutrition-facts-container,
  .recipe-visible.recipe-details-container {
    display: block;
  }

}

@media screen and (min-width: 950px) {

  #header-title {
    font-size: 4rem;
    letter-spacing: 0.75rem;
  }

  #header-welcome {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .date-input {
    font-size: 2rem;
    padding: 1rem 0 0.25rem;
  }

  #count {
    font-size: 6rem;
  }

  .count-type {
    font-size: 2rem;
  }

  #search-container {
    width: 550px;
    height: 60px;
    left: calc(50% - 275px);
    top: calc(50% - 30px);
  }

  .options-wrapper {
    width: 550px;
    top: calc(50% - 68px);
    left: calc(50% - 275px);
  }

  #search-form::after,
  #recipes-form::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    border-bottom: 2px solid lightgreen;
    right: 100%;
    transition: right 0.2s ease-out, width 0.2s ease-out;
  }

  #recipes-form::after {
    border-bottom-color: #86dddd;
  }

  #search-form:hover::after,
  #recipes-form:hover::after {
    width: 100%;
    right: 0;
  }

  #main-foods-container {
    width: 550px;
    left: calc(50% - 275px);
    top: calc(50% + 6rem);
    max-height: calc(50% - 7rem);
  }

  .open #search-input,
  .recipes-open #recipes-input {
    padding-right: 3rem;
  }

  .open .close-icon,
  .recipes-open .close-icon {
    margin-right: 2rem;
  }

  .open .results-container,
  .recipes-open .results-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .results-inner-container {
    height: 80%;
    width: calc(50% - 1rem);
  }

  .results-title {
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: left;
  }

  .item .food-name {
    font-size: 2rem;
  }

  .item .food-brand {
    font-size: 1.75rem;
  }

}